body {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.76;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../images/backgroud-mob-1x.png);
  cursor: none;

  cursor: url(../images/cursor.png) 24 33, auto;

  @include retina {
    background-image: url(../images/backgroud-mob-2x.png);
  }

  @include tablet {
    background-image: url(../images/backgroud-tab-1x.png);
    @include retina {
      background-image: url(../images/backgroud-tab-2x.png);
    }
  }
  @include desktop {
    background-image: url(../images/backgroud-desk-1x.png);
    @include retina {
      background-image: url(../images/backgroud-desk-2x.png);
    }
  }
}

.no-scroll {
  overflow: hidden;
}
.no-scroll-modal {
  overflow: hidden;
}

.how-made-link {
  // color: #f8d24e;
  // text-decoration: underline;

  transition: color $transit;

  &:hover {
    color: #0a8817;
  }

  &:focus {
    color: #fcfcfc;
    outline: none;
  }
}
