body {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 1.75;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
