@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  min-height: 100%;
  // overflow-y: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: url(../images/cursor.png), auto;
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  cursor: url(../images/cursor.png), auto;
  // cursor: pointer;
}
