@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.contacts-section__title, .reviews__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: url(../images/cursor.png), auto;
}

img {
  max-width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  cursor: url(../images/cursor.png), auto;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.76;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../images/backgroud-mob-1x.jpg);
  cursor: url(../images/cursor.png), auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: url(../images/backgroud-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/backgroud-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/backgroud-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url(../images/backgroud-desk-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/backgroud-desk-2x.jpg);
  }
}

.no-scroll {
  overflow: hidden;
}

.no-scroll-modal {
  overflow: hidden;
}

.how-made-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.how-made-link:hover {
  color: #0a8817;
}
.how-made-link:focus {
  color: #fcfcfc;
  outline: none;
}

@-webkit-keyframes headerIceCreamTablet {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY();
  }
}

@keyframes headerIceCreamTablet {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY();
  }
}
@-webkit-keyframes dishHero {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dishHero {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes titleHero {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes titleHero {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* !------------------CONTAINER------------------ */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section-title {
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 34px;
    line-height: 1.26;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
}

.button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0;
  padding: 0;
  height: 42px;
  font-size: 14px;
  line-height: 1.28;
  color: #000000;
  font-weight: 600;
  background-color: #f8d24e;
  border: none;
  border-radius: 10px;
  outline: none;
}

.btn-color {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-color:hover {
  background-color: #0a8817;
}
.btn-color:focus {
  color: #fcfcfc;
  background-color: #0a8817;
}

.btn-transp {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border: 2px solid #f8d24e;
}
.btn-transp:hover {
  border: 2px solid #0a8817;
}
.btn-transp:focus {
  border: 2px solid #0a8817;
  color: #fcfcfc;
}

.btn-products {
  min-width: 108px;
  height: 38px;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 600;
  border-radius: 8px;
}
@media screen and (min-width: 1200px) {
  .btn-products {
    min-width: 134px;
    height: 42px;
    font-size: 14px;
    line-height: 1.28;
    border-radius: 10px;
  }
}

.button-icon {
  fill: currentColor;
}

.btn-read {
  min-width: 164px;
}

.btn-location {
  min-width: 196px;
}

.btn-buy-now {
  min-width: 152px;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: rgb(132, 161, 120);
  width: 100%;
  height: 100%;
}

.header__fix {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #84a178;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .header__fix {
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .header__fix {
    height: 90px;
  }
}

.header__dots {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/hero-dots-mob-2x-min.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
@media screen and (min-width: 480px) {
  .header__dots {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__dots {
    width: 768px;
    background-image: url(../images/hero-dots-tab-2x-min.png);
  }
}
@media screen and (min-width: 1200px) {
  .header__dots {
    width: 1200px;
    background-image: url(../images/hero-dots-desk-2x-min.png);
  }
}

.header__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  height: 502px;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .header__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 20px;
    height: 415px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    height: 664px;
    max-width: 100%;
  }
}

.header__top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  width: 100%;
  height: 50px;
  padding-right: 40px;
}
@media screen and (min-width: 480px) {
  .header__top {
    height: unset;
    width: 480px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .header__top {
    width: 768px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__top {
    width: 1216px;
    padding-right: 16px;
    height: 90px;
    top: 0;
  }
}

.header__logo {
  width: 40px;
  height: 38px;
  z-index: 31;
}
@media screen and (min-width: 480px) {
  .header__logo {
    width: unset;
    height: unset;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 44px;
    height: 48px;
  }
}

.header__nav {
  display: none;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
  }
}

.header__mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: #84a178;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  z-index: 3;
  min-height: 500px;
  overflow: auto;
  transition: transform 300ms linear, visibility 300ms linear;
  transform: translateX(50%);
  visibility: hidden;
  left: 50%;
}
.header__mob-menu.is-open {
  transform: translateX(-50%);
  visibility: visible;
  left: 50%;
}
@media screen and (min-width: 480px) {
  .header__mob-menu {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__mob-menu {
    width: 768px;
    padding-top: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .header__mob-menu {
    display: none;
  }
}

.header__list,
.mob__list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
@media screen and (min-width: 1200px) {
  .header__list,
.mob__list {
    flex-direction: unset;
    gap: 28px;
  }
}

.header__link,
.mob__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21875;
  color: #fcfcfc;
}
.header__link:hover, .header__link:focus,
.mob__link:hover,
.mob__link:focus {
  color: black;
}
@media screen and (min-width: 1200px) {
  .header__link,
.mob__link {
    font-size: 16px;
    line-height: 1.25;
  }
  .header__link:hover, .header__link:focus,
.mob__link:hover,
.mob__link:focus {
    color: #f8d24e;
  }
}

.header__menu-button,
.mob-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  fill: white;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header__menu-button,
.mob-close {
    margin-left: auto;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu-button,
.mob-close {
    display: none;
  }
}

.header__menu-button {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .header__menu-button {
    right: 216px;
    top: 29px;
  }
}

.mob-close {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button-buy {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button-buy {
    margin-right: 0;
    display: flex;
  }
}

.mob__button-buy {
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .mob__button-buy {
    display: none;
  }
}

.hero {
  width: 100%;
  padding-top: 99px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 93px;
  }
}

.hero__title {
  width: 247px;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2692307692;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 32px;
  -webkit-animation: titleHero 3000ms;
          animation: titleHero 3000ms;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 370px;
    font-size: 38px;
    line-height: 1.2631578947;
    margin-bottom: 28px;
  }
}

.hero__buttons {
  display: flex;
  width: 250px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  gap: 12px;
}

.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 38px;
  font-size: 12px;
  line-height: 1.25;
  color: #000000;
  z-index: 3;
  border: 2px solid #f8d24e;
  border-radius: 8px;
}

.hero__link {
  min-width: 120px;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  z-index: 1;
  color: #f8d24e;
}
@media screen and (min-width: 768px) {
  .hero__link {
    font-size: 14px;
    line-height: 1.2142857143;
  }
}

.hero__icecream {
  position: absolute;
  right: 53%;
  transform: translateX(50%);
  bottom: 0;
  z-index: 2;
  -webkit-animation: headerIceCreamTablet 3000ms;
          animation: headerIceCreamTablet 3000ms;
}
@media screen and (min-width: 768px) {
  .hero__icecream {
    transform: translateX(0);
    right: 68px;
  }
}
.hero__dish {
  -webkit-animation: dishHero 3000ms;
          animation: dishHero 3000ms;
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__dish {
    position: absolute;
    display: block;
    left: 0;
    bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__dish {
    bottom: 65px;
  }
}

.hero__block {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__block {
    position: absolute;
    left: 184px;
    bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
  }
}
@media screen and (min-width: 1200px) {
  .hero__block {
    bottom: 103px;
    left: 257px;
    gap: 24px;
  }
}

.hero__text {
  width: 150px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
}

.hero__arrow {
  fill: white;
}

.hero__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__list {
    position: absolute;
    top: 94px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__list {
    gap: 16px;
  }
}

.hero_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: "Montserrat";
  font-style: normal;
}

.hero__figure {
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .hero__figure {
    font-size: 46px;
    line-height: 1.2173913043;
  }
}

.hero__figureText {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .hero__figureText {
    font-size: 14px;
    line-height: 1.2142857143;
  }
}

.products {
  margin-left: auto;
  margin-right: auto;
}

.natural-subtitle {
  padding-top: 60px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 12px;
}

.natural-title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 148px;
}
@media screen and (min-width: 768px) {
  .natural-title {
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .natural-title {
    margin-bottom: 303px;
  }
}

.products-list {
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 168px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .products-list {
    flex-wrap: nowrap;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products-list {
    flex-wrap: nowrap;
    gap: 16px;
  }
}

.products-item {
  width: 280px;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .products-item {
    padding-top: 123px;
  }
}
.products-item:hover::before, .products-item:focus::before {
  transform: rotate(360deg);
}
@media screen and (min-width: 768px) {
  .products-item {
    flex-basis: calc((100% - 32px) / 3);
    padding-top: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .products-item {
    flex-basis: calc((100% - 58px) / 3);
    padding-top: 165px;
  }
}

.products-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .products-title {
    margin-bottom: 66px;
  }
}

.products-text {
  font-size: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7857142857;
  text-align: center;
  letter-spacing: 0.04em;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  color: #131313;
  margin-bottom: 53px;
}

.icecream-text {
  margin-bottom: 101px;
}
.products-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 16px;
  border: none;
  background-color: inherit;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .products-button {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products-button {
    margin-bottom: 60px;
  }
}

.ice-cream-item {
  background-color: #aec6a5;
}

.ice-coffee-item {
  background-color: #efd478;
}

.milkshakes-item {
  background-color: #d6936d;
}

.ice-cream-item::before {
  content: "";
  background-image: url(../images/products-icecream-tab-1x.jpg);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
  position: absolute;
  left: 40px;
  top: -110px;
  display: block;
  z-index: 1;
  transition: transform 2s;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ice-cream-item::before {
    background-image: url(../images/products-icecream-tab-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .ice-cream-item::before {
    top: -117px;
    left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .ice-cream-item::before {
    width: 302px;
    height: 302px;
    left: 34px;
    top: -180px;
    background-image: url(../images/products-icecream-desk-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .ice-cream-item::before {
    background-image: url(../images/products-icecream-desk-2x.jpg);
  }
}

.ice-coffee-item::before {
  content: "";
  background-image: url(../images/products-icecoffee-tab-1x.jpg);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
  position: absolute;
  left: 40px;
  top: -110px;
  display: block;
  z-index: 1;
  transition: transform 2s;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ice-coffee-item::before {
    background-image: url(../images/products-icecoffee-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .ice-coffee-item::before {
    top: -117px;
    left: 12px;
    background-image: url(../images/products-icecoffee-desk-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .ice-coffee-item::before {
    width: 302px;
    height: 302px;
    left: 34px;
    top: -180px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .ice-coffee-item::before {
    background-image: url(../images/products-icecoffee-desk-2x.jpg);
  }
}

.milkshakes-item::before {
  content: "";
  background-image: url(../images/products-milkshake-tab-1x.jpg);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
  position: absolute;
  left: 40px;
  top: -110px;
  z-index: 1;
  display: block;
  transition: transform 2s;
  background-image: url(../images/products-milkshake-desk-1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milkshakes-item::before {
    background-image: url(../images/products-milkshake-tab-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .milkshakes-item::before {
    top: -117px;
    left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .milkshakes-item::before {
    width: 302px;
    height: 302px;
    left: 34px;
    top: -180px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milkshakes-item::before {
    background-image: url(../images/products-milkshake-desk-2x.jpg);
  }
}

.ice-cream-item::after {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}
@media screen and (min-width: 768px) {
  .ice-cream-item::after {
    top: -5px;
    left: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .ice-cream-item::after {
    width: 302px;
    height: 302px;
    top: -16px;
    left: 50%;
  }
}

.ice-coffee-item::after {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
@media screen and (min-width: 768px) {
  .ice-coffee-item::after {
    top: -5px;
    left: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .ice-coffee-item::after {
    width: 302px;
    height: 302px;
    top: -16px;
    left: 50%;
  }
}

.milkshakes-item::after {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .milkshakes-item::after {
    top: -5px;
    left: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .milkshakes-item::after {
    width: 302px;
    height: 302px;
    top: -16px;
    left: 50%;
  }
}

.products-icon:hover,
.products-icon:focus {
  fill: #fcfcfc;
}

.about {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 50px;
  color: #fcfcfc;
  background-color: #84a178;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 99px;
  }
}

.about__uptitle {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .about__uptitle {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23px;
  }
}
@media screen and (min-width: 1200px) {
  .about__uptitle {
    font-size: 30px;
  }
}

.about__title {
  display: inline-block;
  margin-bottom: 32px;
  max-width: 210px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 72px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 82px;
  }
}

.about__wrap-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about__wrap-content {
    flex-direction: row;
    gap: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrap-content {
    gap: 109px;
  }
}

.about__wrap-image {
  position: relative;
  display: flex;
}
.about__wrap-image::before {
  content: "";
  width: 279px;
  height: 278px;
  flex-shrink: 0;
  margin-bottom: 62px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  border-radius: 140px;
  box-shadow: 0px 4.49px 16.82px rgba(153, 114, 23, 0.25);
}
@media screen and (min-width: 768px) {
  .about__wrap-image::before {
    width: 330px;
    height: 330px;
    margin-bottom: 0;
    box-shadow: 0px 5.3px 19.9px rgba(153, 114, 23, 0.25);
    border-radius: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrap-image::before {
    width: 490px;
    height: 490px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    border-radius: 250px;
  }
}
.about__wrap-image::after {
  content: "";
  position: absolute;
  top: 29px;
  width: 100%;
  height: 278px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  background-image: url(../images/about-cow-mob-1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__wrap-image::after {
    background-image: url(../images/about-cow-mob-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .about__wrap-image::after {
    left: 0;
    width: 279px;
    height: 278px;
  }
}
@media screen and (min-width: 768px) {
  .about__wrap-image::after {
    width: 330px;
    height: 330px;
    background-image: url(../images/about-cow-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .about__wrap-image::after {
    background-image: url(../images/about-cow-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .about__wrap-image::after {
    width: 490px;
    height: 490px;
    background-image: url(../images/about-cow-desk-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about__wrap-image::after {
    background-image: url(../images/about-cow-desk-2x.jpg);
  }
}

@-webkit-keyframes shake-top {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

@keyframes shake-top {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
.start-animation.about__wrap-image::after {
  -webkit-animation: shake-top 2000ms cubic-bezier(0.4, 0, 0.2, 1) 300ms both;
          animation: shake-top 2000ms cubic-bezier(0.4, 0, 0.2, 1) 300ms both;
}

.about__wrap-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .about__wrap-info {
    align-items: start;
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrap-info {
    gap: 54px;
    padding-right: 105px;
  }
}

.about__wrap-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (min-width: 768px) {
  .about__wrap-text {
    gap: 8px;
    padding-left: 0;
    padding-right: 0;
  }
}

.about__text {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .about__text {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 16px;
  }
}
.about__text--last {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__text--last {
    display: block;
  }
}

.advantages {
  width: 100%;
  background: #84a178;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .advantages-container {
    flex-direction: row;
  }
}

.advantages-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 28px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-direction: row;
    gap: 80px;
    max-width: 616px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    gap: 32px;
    max-width: 1168px;
    padding-bottom: 80px;
  }
}

.advantages-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .advantages-list__item {
    width: calc((100% - 160px) / 3);
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__item {
    width: calc((100% - 64px) / 3);
    gap: 0;
  }
}

.advantages-list__item::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8d24e;
}

.advantages-list__item:nth-child(1)::before {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/advantages-cow-1x-min.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item:nth-child(1)::before {
    background-image: url(../images/advantages-cow-2x-min.png);
  }
}

.advantages-list__item:nth-child(2)::before {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/advantages-weight-1x-min.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item:nth-child(2)::before {
    background-image: url(../images/advantages-weight-2x-min.png);
  }
}

.advantages-list__item:nth-child(3)::before {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/advantages-icecream-1x-min.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item:nth-child(3)::before {
    background-image: url(../images/advantages-icecream-2x-min.png);
  }
}

.advantages-list__uptitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2222222222;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .advantages-list__uptitle {
    font-size: 48px;
    line-height: 1.2291666667;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__uptitle {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 58px;
    line-height: 1.224137931;
  }
}

.advantages-list__text {
  font-weight: 700;
  font-size: 10px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fcfcfc;
  max-width: 230px;
}
@media screen and (min-width: 768px) {
  .advantages-list__text {
    max-width: 152px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    max-width: 368px;
  }
}

.gallery {
  width: 100%;
}
.gallery {
  background-image: linear-gradient(to top, transparent 60%, #84a178 60%);
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 60px;
    background-image: linear-gradient(to top, transparent 45%, #84a178 45%);
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 80px;
    background-image: linear-gradient(to top, transparent 65%, #84a178 65%);
  }
}

.slider-gallery__img {
  margin: 0 auto;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .slider-gallery__img {
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .slider-gallery__img {
    border-radius: 24px;
  }
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.reviews {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 64px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reviews {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 144px;
    text-align: center;
  }
}

.reviews__img-thumb {
  margin-bottom: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 44px;
  overflow: hidden;
  background: #6e6e6e;
  width: 85px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__card {
  text-align: center;
}

.reviews__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 256px;
  padding: 0 39px;
  margin-bottom: 32px;
  background-color: #84a178;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.55;
  color: #fcfcfc;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .reviews__text {
    width: 705px;
    height: 138px;
    padding: 0 80px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 80px;
    padding-right: 80px;
    letter-spacing: 0.04em;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__text {
    width: 968px;
    padding: 0 74px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.reviews__sub-text {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  color: #131313;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .reviews__sub-text {
    font-weight: 16;
    line-height: 1.86;
  }
}

.slick-dotted.slick-slider {
  margin: 0;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .slick-dots {
    gap: 18px;
  }
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  padding: 0;
  display: block;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #84a178;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #6e6e6e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contacts-section {
  padding-bottom: 60px;
  background-image: linear-gradient(to bottom, transparent 25%, #84a178 25%);
}
@media screen and (min-width: 768px) {
  .contacts-section {
    padding-bottom: 40px;
    background-image: linear-gradient(to bottom, transparent 45%, #84a178 45%);
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section {
    padding-top: 0;
    padding-bottom: 120px;
    background-image: linear-gradient(to bottom, transparent 16%, #84a178 16%);
  }
}

.contacts-section__list {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts-section__list {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section__list {
    gap: 32px;
    margin-bottom: 60px;
  }
}

.contacts-section__item {
  max-width: 280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 24px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.contacts-section__item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .contacts-section__item {
    max-width: 224px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .contacts-section__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section__item {
    max-width: 368px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.contacts-section__branch-type {
  display: inline-block;
  padding: 4px 22px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  text-transform: uppercase;
  background-color: #f8d24e;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .contacts-section__branch-type {
    font-size: 16px;
    line-height: 1.375;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section__branch-type {
    margin-bottom: 32px;
  }
}

.contacts-section__city {
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .contacts-section__city {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section__city {
    font-size: 16px;
    line-height: 1.875;
  }
}

.contacts-section__address {
  display: inline-block;
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: #d6936d;
}
.contacts-section__address:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .contacts-section__address {
    font-size: 14px;
    line-height: 1.8571428571;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section__address {
    font-size: 16px;
    line-height: 1.8125;
  }
}

.contacts-section__schedule-list {
  margin-bottom: 24px;
}
.contacts-section__schedule-list::before {
  content: "";
  display: block;
  height: 1px;
  margin-bottom: 24px;
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts-section__schedule-list::before {
    margin-bottom: 32px;
  }
}
.contacts-section__schedule-list::after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 24px;
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts-section__schedule-list::after {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section__schedule-list {
    margin-bottom: 32px;
  }
}

.contacts-section__schedule-item {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
}
.contacts-section__schedule-item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts-section__schedule-item {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section__schedule-item {
    font-size: 16px;
    line-height: 1.875;
  }
}

.contacts-section__schedule-days {
  color: #131313;
}

.contacts-section__schedule-hours {
  color: #ababab;
}

.contacts-section__phone {
  margin-bottom: 6px;
}

.contacts-section__phone,
.contacts-section__email {
  display: block;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5833333333;
  letter-spacing: 0.04em;
  color: #131313;
  transition: var(--transit);
}
.contacts-section__phone:hover,
.contacts-section__email:hover {
  color: #0a8817;
}
@media screen and (min-width: 768px) {
  .contacts-section__phone,
.contacts-section__email {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section__phone,
.contacts-section__email {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .contacts-section__buttons-list {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
}

.contacts-section__button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.contacts-section__button--location-button {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .contacts-section__button--location-button {
    margin-bottom: 0;
  }
}

.section {
  width: 100%;
}
.section__footer {
  background-color: #84a178;
}

@media screen and (min-width: 768px) {
  .footer-section__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-section__uptitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 16px;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .footer-section__uptitle {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2307692308;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section__uptitle {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 14px;
  }
}

.title-wrap {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .title-wrap {
    width: 352px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .title-wrap {
    width: 504px;
  }
}

.footer-section__title {
  display: inline-block;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2058823529;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer-section__title {
    font-size: 48px;
    line-height: 1.2291666667;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section__title {
    font-size: 58px;
    line-height: 1.224137931;
  }
}

.footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-inner {
    justify-content: flex-start;
  }
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-list {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list {
    margin-bottom: 40px;
  }
}

.number {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-left: auto;
}

.footer-section {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-section {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section {
    margin-bottom: 60px;
  }
}

.footer-section__contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.9;
  text-align: right;
  color: #131313;
  margin-right: 5px;
}

.footer-list__item {
  width: 34px;
  height: 34px;
}

.footer-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8d24e;
  border-radius: 50%;
  color: #84a178;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__link:hover, .footer-list__link:focus {
  color: #fcfcfc;
}

.footer-list__icon {
  fill: currentColor;
}
.footer-list__link:hover .footer-list__icon {
  width: 24px;
  height: 24px;
  transition: all 250ms linear;
}

.footer-section__contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8333333333;
  text-align: right;
  color: #131313;
}

.footer-section__number {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8333333333;
  text-align: right;
  color: #fcfcfc;
}

.copywrite__wrap {
  position: relative;
  padding: 20px 0;
  width: 100%;
  border-top: 1px solid #e1e1e1;
  border-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .copywrite__wrap {
    padding: 12px 0;
  }
}
@media screen and (min-width: 1200px) {
  .copywrite__wrap {
    padding-top: 12px;
    max-width: 1167px;
  }
}

.footer-section__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #7a7a7a;
  max-width: 160px;
  margin: 0 auto;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .footer-section__text {
    line-height: 1.8571428571;
    max-width: 298px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section__text {
    line-height: 1.8333333333;
  }
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 35;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 30;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  max-width: 440px;
  width: 100%;
  top: 50px;
  left: 50%;
  padding: 26px;
  transform: translateX(-50%);
  letter-spacing: normal;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 568px;
    padding: 32px 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.modal__title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  text-align: center;
  align-items: center;
  width: 100%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.4;
    max-width: 322px;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-btn-cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  fill: #131313;
}
@media screen and (min-width: 768px) {
  .modal-btn-cross {
    width: 24px;
    height: 24px;
    top: 17px;
    right: 17px;
  }
}
.modal-btn-cross:hover, .modal-btn-cross:focus {
  fill: #0a8817;
}

.form {
  font-weight: 400;
  color: #131313;
}
.form__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .form__group {
    gap: 16px;
    margin-bottom: 32px;
    align-items: center;
  }
}
.form__field {
  max-width: 368px;
  width: 100%;
}
.form__input {
  width: 100%;
  max-width: 368px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  padding-right: 12px;
  padding-left: 12px;
}
@media screen and (min-width: 768px) {
  .form__input {
    height: 42px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
.form__input--lg {
  resize: none;
}
@media screen and (min-width: 768px) {
  .form__input--lg {
    height: 84px;
    padding-top: 11px;
  }
}
.form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 12px 34px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .form__btn {
    font-size: 14px;
    line-height: 1.2142857143;
  }
}

.form-main {
  width: 100%;
  font-size: 12px;
  line-height: 1.4166666667;
}
@media screen and (min-width: 768px) {
  .form-main {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}
@media screen and (max-width: 767px) {
  .form-main__group {
    gap: 12px;
  }
}
@media screen and (max-width: 767px) {
  .form-main__input {
    height: 32px;
  }
}
@media screen and (max-width: 767px) {
  .form-main__input--lg {
    height: 64px;
  }
}

@media screen and (max-width: 767px) {
  .form-position-main {
    margin-bottom: 26px;
  }
}

.form-ingredients {
  font-size: 14px;
  line-height: 1.4285714286;
}
@media screen and (min-width: 768px) {
  .form-ingredients {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}
@media screen and (max-width: 767px) {
  .form-ingredients__group {
    gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .form-ingredients__input {
    height: 42px;
  }
}
@media screen and (max-width: 767px) {
  .form-ingredients__input--lg {
    height: 84px;
  }
}

@media screen and (max-width: 767px) {
  .form-position-ingredients {
    margin-bottom: 24px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
  width: 100%;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}

.modal-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 198px 20px;
  padding-top: 179px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-list {
    flex-direction: row;
  }
}

.list-item {
  position: relative;
  width: 132px;
  text-align: center;
}
.list-item:nth-child(1) .check-item::after {
  background-color: rgba(156, 190, 143, 0.7);
  box-shadow: 0px 5.26px 19.73px 0px rgba(10, 136, 23, 0.2509803922);
}
.list-item:nth-child(1) .check-item::before {
  border: 2px solid rgba(156, 190, 143, 0.7);
}
.list-item:nth-child(2) .check-item::after {
  background-color: rgba(248, 210, 78, 0.7);
  box-shadow: 0px 5.26px 19.73px 0px rgba(153, 114, 23, 0.2509803922);
}
.list-item:nth-child(2) .check-item::before {
  border: 2px solid #efd478;
}
.list-item:nth-child(3) .check-item::after {
  background-color: rgba(213, 117, 63, 0.7);
  box-shadow: 0px 5.26px 19.73px 0px rgba(0, 0, 0, 0.2509803922);
}
.list-item:nth-child(3) .check-item::before {
  border: 2px solid #d6936d;
}
.list-item .check-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.list-item:nth-child(1) .check-input::after {
  z-index: 1;
  position: absolute;
  content: "";
  left: 0;
  top: -159;
  width: 132px;
  height: 132px;
  background-image: url(../images/products-icecream-modal-1x.jpg);
  background-size: contain;
  border-radius: 50%;
}
.list-item:nth-child(2) .check-input::after {
  z-index: 1;
  position: absolute;
  content: "";
  left: 0;
  top: -159;
  width: 132px;
  height: 132px;
  background-image: url(../images/products-icecoffee-modal-1x.jpg);
  background-size: contain;
  border-radius: 50%;
}
.list-item:nth-child(3) .check-input::after {
  z-index: 1;
  position: absolute;
  content: "";
  left: 0;
  top: -159;
  width: 132px;
  height: 132px;
  background-image: url(../images/products-milkshake-modal-1x.jpg);
  background-size: contain;
  border-radius: 50%;
}

.check-input:checked + .check-item--first::before {
  background-color: rgba(156, 190, 143, 0.7);
}

.check-input:checked + .check-item--second::before {
  background-color: rgba(248, 210, 78, 0.7);
}

.check-input:checked + .check-item--third::before {
  background-color: rgba(213, 117, 63, 0.7);
}

.check-item {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.check-item::before {
  z-index: -1;
  position: absolute;
  content: "";
  left: 0;
  top: -96;
  width: 132px;
  height: 136px;
  border-radius: 15px;
}
.check-item::after {
  position: absolute;
  content: "";
  left: 0;
  top: -152;
  width: 132px;
  height: 132px;
  border-radius: 50%;
}

.products-modal {
  padding: 26px 18px;
}
@media screen and (min-width: 768px) {
  .products-modal {
    padding: 30px 38px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.products-title {
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  line-height: 1.45;
}
@media screen and (min-width: 768px) {
  .products-title {
    line-height: 1.4;
    margin-bottom: 24px;
  }
}

.round {
  position: relative;
  margin-bottom: 24px;
  width: 132px;
  height: 132px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.round::before {
  position: absolute;
  top: -7px;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/products-chocolate-modal-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .round::before {
    background-image: url("../images/products-chocolate-modal-2x.jpg");
  }
}

.energy-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  gap: 8px;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .energy-list {
    gap: 20px;
  }
}
.energy-list__item {
  width: 53px;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #aec6a5;
  border-radius: 40px;
}
@media screen and (min-width: 768px) {
  .energy-list__item {
    width: 65px;
    height: 90px;
  }
}
.energy-list__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  background-color: #aec6a5;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
}
@media screen and (min-width: 768px) {
  .energy-list__circle {
    width: 53px;
    height: 53px;
    font-size: 12px;
    line-height: 2.3333333333;
  }
}
.energy-list__text {
  font-size: 10px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .energy-list__text {
    font-size: 12px;
    line-height: 1.25;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1666666667;
  margin-bottom: 24px;
}

.ingred-list {
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 1.7857142857;
}
.ingred-list__item {
  display: flex;
  justify-content: space-between;
}
.ingred-list__item:not(:last-child) {
  margin-bottom: 11px;
}
.product__form {
  gap: 16px;
}

.modal-about__title {
  margin-bottom: 20px;
  justify-content: center;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .modal-about__title {
    margin-bottom: 32px;
  }
}

.iframe-wrap {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 
  (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .iframe-wrap {
    margin-bottom: 32px;
  }
}

.iframe-youtube-lazy-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.modal-about__descr {
  font-size: 14px;
  line-height: 1.4285714286;
  color: #131313;
  text-align: initial;
}
@media screen and (min-width: 768px) {
  .modal-about__descr {
    font-size: 16px;
    line-height: 1.375;
  }
}

.modal-contactts__btn {
  min-width: 134px;
}
@media screen and (min-width: 768px) {
  .modal-contactts__btn {
    min-width: 145px;
  }
}

.modal-mapa-title {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-mapa-title {
    margin-bottom: 32px;
  }
}

.modal-map__map {
  width: 100%;
  height: 199px;
  margin-bottom: 24px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .modal-map__map {
    width: 448px;
    height: 260px;
    margin-bottom: 32px;
  }
}

.modal-franchise-title {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-franchise-title {
    margin-bottom: 24px;
  }
}

.franch-form__descr {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  margin-bottom: 24px;
  line-height: 1.4285714286;
  width: 100%;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .franch-form__descr {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.375;
    width: 448px;
  }
}

.form-franhise {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .form-franhise {
    width: 100%;
    max-width: 280px;
  }
}/*# sourceMappingURL=index.css.map */