@mixin push--auto() {
  margin-left: auto;
  margin-right: auto;
}

// По бажанню

@mixin flex--center($type: flex, $js-con: center, $al-i: center) {
  display: $type;
  justify-content: $js-con;
  align-items: $al-i;
}

// По бажанню
@mixin sectionSet($p-top: 60px, $p-bot: 60px, $text-aln: center) {
  margin: 0 auto;
  padding-top: $p-top;
  padding-bottom: $p-bot;
  text-align: $text-aln;
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
