<div class="modal " data-modal="modal-about">
    <svg class="modal-btn-cross js-modal-close">
      <use href="/src/images/icons.svg#icon-close"></use>
    </svg>
  
    <h2 class="modal-about__title modal__title " >
      How it’s made?
    </h2>
    <div class="iframe-wrap">
      <iframe
      controls="2"
      loading="lazy" width="560" height="315" class="iframe-youtube-lazy-video"
      src="https://www.youtube.com/embed/b5p8TgFdx7c" 
      title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; 
      encrypted-media; gyroscope; picture-in-picture"
       allowfullscreen></iframe>
    </div >
    
  
    <p class="modal-about__descr">
      Lorem ipsum dolor sit amet, consectetur 
      adipiscing elit, sed do eiusmod tempor 
      incididunt ut labore et Lorem ipsum dolor 
      sit amet, consectetur adipiscing elit, sed do
       eiusmod tempor incididunt ut labore et
    </p>   
      </div>
      
    </form>
  </div>
