<div class="modal" data-modal="modal-about">
  <button type="button" class="modal-btn-cross js-modal-close">
    <svg class="modal-btn-cross__icon">
      <use href="/src/images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <h2 class="modal-about__title modal__title">How it’s made?</h2>
  <div class="iframe-wrap">
    <iframe
      width="560"
      height="315"
      class="iframe-youtube-lazy-video"
      src="https://www.youtube.com/embed/b5p8TgFdx7c"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; 
      encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      loading="lazy"
    ></iframe>
  </div>

  <p class="modal-about__descr">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
<!--  -->
<!-- frameborder="0" -->
<!-- controls="2" -->
