<div class="modal" data-modal="modal-franchise">
  <button type="button" class="modal-btn-cross js-modal-close">
    <svg class="modal-btn-cross__icon">
      <use href="/src/images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <h2 class="modal__title modal-franchise-title">
    Thank you for your interest in owning an Ice Cream shop
  </h2>

  <p class="franch-form__descr">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>

  <form class="form form-main form-franhise">
    <div class="form__group form-main__group form-position-ingredients">
      <label class="form__field form-main__field">
        <input
          class="form__input form-main__input"
          type="text"
          name="name"
          placeholder="Name"
          required
          pattern="^[A-Za-z]+\s[A-Za-z]+$"
          title="Name must be two words separated by space"
        />
      </label>
      <label class="form__field form-main__field">
        <input
          class="form__input form-main__input"
          type="tel"
          name="phone"
          placeholder="Phone"
          required
          minlength="12"
          maxlength="12"
          pattern="^(?=.*\d)^.{12,}.*$"
          title="Мinimum 12 digits"
        />
      </label>
      <label class="form__field form-main__field">
        <input
          class="form__input form-main__input"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
      </label>

      <textarea
        class="form__input form-main__input form__input--lg form-main__input--lg"
        name="comment"
        rows="3"
        placeholder="Comment"
        aria-label="comment"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-color form__btn">Submit</button>
  </form>
</div>
