<div class="modal" data-modal="modal-map">
  <button type="button" class="modal-btn-cross js-modal-close">
    <svg class="modal-btn-cross__icon">
      <use href="/src/images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <h2 class="modal__title modal-mapa-title">Our Locations</h2>

  <iframe
    class="modal-map__map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40204.050693592115!2d34.53184784857758!3d49.59053809938736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1671666523517!5m2!1sru!2sua"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <a
    class="btn btn-color modal-contactts__btn"
    href="https://goo.gl/maps/zuxTBo7iFbaiTM849"
    target="_blank"
    rel="noopener noreferrer nofollow"
  >
    Open map
  </a>
</div>
