<div class="backdrop" data-backdrop>
  <div class="header-modal">
    <button
      class="modal-button modal-button--close"
      type="button"
      data-modal-close
    >
      <svg width="20" height="20">
        <use href="./images/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Buy now</h2>

    <form class="modal-form" action="">
      <ul class="modal-list">
        <li class="list-item">
          <input
            class="check-input"
            type="checkbox"
            name="product"
            value="ice cream"
            id="ice cream"
          />
          <label class="check-item check-item--first" for="ice cream"
            >ice cream</label
          >
        </li>
        <li class="list-item">
          <input
            class="check-input"
            type="checkbox"
            name="product"
            value="ice coffee"
            id="ice coffee"
          />
          <label class="check-item check-item--second" for="ice coffee"
            >ice coffee</label
          >
        </li>
        <li class="list-item">
          <input
            class="check-input"
            type="checkbox"
            name="product"
            value="milcshake"
            id="milcshake"
          />
          <label class="check-item check-item--third" for="milcshake"
            >milcshake</label
          >
        </li>
      </ul>

      <!-- <div class="form-container">
        <div class="input-container">
          <input
            class="modal-form__input"
            type="text"
            name="name"
            placeholder="Name"
          />

          <input
            class="modal-form__input"
            type="tel"
            name="tel"
            placeholder="Phone"
          />

          <textarea
            class="modal-form__taxtarea"
            name="Comment"
            id=""
            cols="3"
            rows=""
            placeholder="Comment"
          ></textarea>
        </div>

        <button
          class="modal-button modal-button--submit"
          type="button"
          data-close-modal
        >
          Submit
        </button>
      </div> -->
    </form>
  </div>
</div>
