<div class="modal" data-modal="header-modal">
  <button type="button" class="modal-btn-cross js-modal-close">
    <svg class="modal-btn-cross__icon">
      <use href="/src/images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <h2 class="modal__title">Buy now</h2>

  <form class="modal-form">
    <ul class="modal-list">
      <li class="list-item">
        <input
          class="check-input"
          type="checkbox"
          name="product"
          value="icecream"
          id="icecream"
        />
        <label class="check-item check-item--first" for="icecream"
          ><span class="check-item__text">ice cream</span></label
        >
      </li>
      <li class="list-item">
        <input
          class="check-input"
          type="checkbox"
          name="product"
          value="icecoffee"
          id="icecoffee"
        />
        <label class="check-item check-item--second" for="icecoffee"
          ><span class="check-item__text">ice coffee</span></label
        >
      </li>
      <li class="list-item">
        <input
          class="check-input"
          type="checkbox"
          name="product"
          value="milcshake"
          id="milcshake"
        />
        <label class="check-item check-item--third" for="milcshake"
          ><span class="check-item__text">milkshake</span></label
        >
      </li>
    </ul>

    <div class="form form-main">
      <div class="form__group form-main__group form-position-main">
        <label class="form__field form-main__field">
          <input
            class="form__input form-main__input"
            type="text"
            name="name"
            placeholder="Name"
            required
            pattern="^[A-Za-z]+\s[A-Za-z]+$"
            title="Name must be two words separated by space"
          />
        </label>
        <label class="form__field form-main__field">
          <input
            class="form__input form-main__input"
            type="tel"
            name="phone"
            placeholder="Phone"
            required
            minlength="12"
            maxlength="12"
            pattern="^(?=.*\d)^.{12,}.*$"
            title="Мinimum 12 digits"
          />
        </label>

        <textarea
          class="form__input form-main__input form__input--lg form-main__input--lg"
          name="comment"
          rows="3"
          placeholder="Comment"
          aria-label="comment"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-color form__btn">Submit</button>
    </div>
  </form>
</div>
