<div class="backdrop" data-backdrop>
  <div class="header-modal">
    <button
      class="modal-button modal-button--close"
      type="button"
      data-modal-close
    >
      <svg width="20" height="20">
        <use href="./images/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Buy now</h2>

    <form class="modal-form" action="">
      <ul class="modal-list">
        <li class="list-item">
          <input
            class="check-input hidden"
            type="checkbox"
            name="product"
            value="ice cream"
            id="ice cream"
          />
          <label class="check-item" for="ice cream">
            <div class="list-item__box square">
              <h3 class="list-item__title">ice cream</h3>
            </div>
            <div class="list-item__box round"></div>
          </label>
        </li>
        <li class="list-item">
          <input
            class="check-input hidden"
            type="checkbox"
            name="product"
            value="ice coffee"
            id="ice coffee"
          />
          <label class="check-item" for="ice coffee">
            <div class="list-item__box square">
              <h3 class="list-item__title">ice coffee</h3>
            </div>
            <div class="list-item__box round"></div>
          </label>
        </li>
        <li class="list-item">
          <input
            class="check-input hidden"
            type="checkbox"
            name="product"
            value="milkshake"
            id="milkshake"
          />
          <label class="check-item" for="milkshake">
            <div class="list-item__box square">
              <h3 class="list-item__title">milkshake</h3>
            </div>
            <div class="list-item__box round"></div>
          </label>
        </li>
      </ul>

      <!-- <label class="modal-form__label" for=""
        >Name</label> -->
      <input
        class="modal-form__input"
        type="text"
        name="name"
        placeholder="Name"
      />
      <!-- <label class="modal-form__label" for=""
        >Phone</label> -->
      <input
        class="modal-form__input"
        type="tel"
        name="tel"
        placeholder="Phone"
      />
      <!-- <label class="modal-form__label" for="">Comment </label> -->
      <textarea
        class="modal-form__taxtarea"
        name="Comment"
        id=""
        cols="3"
        rows=""
        placeholder="Comment"
      ></textarea>

      <button
        class="modal-button modal-button--submit"
        type="button"
        data-close-modal
      >
        Submit
      </button>
    </form>
  </div>
</div>
