<section class="section advantages">
  <div class="container advantages-container">
    <h2 class="section-title hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <p class="advantages-list__uptitle">721</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages-list__item">
        <p class="advantages-list__uptitle">16kg</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <p class="advantages-list__uptitle">84</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
