<section class="section">
  <div class="container advantages-container">
    <h2 class="section-title is-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <img
          srcset="
            ./images/advantages-cow-1x-min.png 1x,
            ./images/advantages-cow-2x-min.png 2x
          "
          class="advantages-list__img"
          src="./images/advantages-cow-1x-min.png"
          alt="cow"
          width="50"
        />
        <h3 class="advantages-list__uptitle">721</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages-list__item">
        <img
          srcset="
            ./images/advantages-icecream-1x-min.png 1x,
            ./images/advantages-icecream-2x-min.png 2x
          "
          class="advantages-list__img"
          src="./images/advantages-icecream-1x-min.png"
          alt="icecream"
          width="50"
        />
        <h3 class="advantages-list__uptitle">16kg</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <img
          srcset="
            ./images/advantages-weight-1x-min.png 1x,
            ./images/advantages-weight-2x-min.png 2x
          "
          class="advantages-list__img"
          src="./images/advantages-weight-1x-min.png"
          alt="weight"
          width="50"
        />
        <h3 class="advantages-list__uptitle">84</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
