<div class="container">
  <div class="button">
    <button type="button" class="btn btn-products btn-transp">Products</button>

    <button type="button" class="btn btn-color btn-read">
      Read more
      <svg class="button-icon" width="12" height="12">
        <use href="/src/images/icons.svg#icon-arrow-right "></use>
      </svg>
    </button>

    <button
      type="button"
      class="btn btn-color btn-location js-open-modal"
      data-modal="modal-map"
    >
      Our Locations
      <svg class="button-icon" width="12" height="12">
        <use href="/src/images/icons.svg#icon-arrow-right "></use>
      </svg>
    </button>

    <button
      type="button"
      class="btn btn-transp btn-location js-open-modal"
      data-modal="modal-franchise"
    >
      Franchise
      <svg class="button-icon" width="12" height="12">
        <use href="/src/images/icons.svg#icon-arrow-right "></use>
      </svg>
    </button>

    <button type="button" class="btn btn-color btn-buy-now">
      Buy now
      <svg class="button-icon" width="12" height="12">
        <use href="/src/images/icons.svg#icon-arrow-right "></use>
      </svg>
    </button>

    <a href="" class="how-made-link">How it’s made?</a>
  </div>


</div>
