<section id="contact" class="contacts-section section">
  <div class="contacts-section__container container">
    <h2 class="contacts-section__title section-title">Contacts</h2>
    <ul class="contacts-section__list">
      <li class="contacts-section__item">
        <p class="contacts-section__branch-type">Cafe</p>
        <p class="contacts-section__city">Chicago</p>
        <a
          class="contacts-section__address"
          href="https://goo.gl/maps/ZcSV9a4Y2yhgAudR6"
          target="_blank"
          rel="noopener noreferrer"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <ul class="contacts-section__schedule-list">
          <li class="contacts-section__schedule-item">
            <p class="contacts-section__schedule-days">Monday - Friday</p>
            <p class="contacts-section__schedule-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-section__schedule-item">
            <p class="contacts-section__schedule-days">Saturday - Sunday</p>
            <p class="contacts-section__schedule-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <a class="contacts-section__phone" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts-section__email" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts-section__item">
        <p class="contacts-section__branch-type">Food truck</p>
        <p class="contacts-section__city">Los Angeles</p>
        <a
          class="contacts-section__address"
          href="https://goo.gl/maps/ixYEVb1bdDNivGm26"
          target="_blank"
          rel="noopener noreferrer"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <ul class="contacts-section__schedule-list">
          <li class="contacts-section__schedule-item">
            <p class="contacts-section__schedule-days">Monday - Friday</p>
            <p class="contacts-section__schedule-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-section__schedule-item">
            <p class="contacts-section__schedule-days">Saturday - Sunday</p>
            <p class="contacts-section__schedule-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <a class="contacts-section__phone" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts-section__email" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts-section__item">
        <p class="contacts-section__branch-type">Cafe</p>
        <p class="contacts-section__city">New York</p>
        <a
          class="contacts-section__address"
          href="https://goo.gl/maps/dMeB8BGan3GbZSk86"
          target="_blank"
          rel="noopener noreferrer"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <ul class="contacts-section__schedule-list">
          <li class="contacts-section__schedule-item">
            <p class="contacts-section__schedule-days">Monday - Friday</p>
            <p class="contacts-section__schedule-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-section__schedule-item">
            <p class="contacts-section__schedule-days">Saturday - Sunday</p>
            <p class="contacts-section__schedule-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <a class="contacts-section__phone" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts-section__email" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <ul class="contacts-section__buttons-list">
      <li class="contacts-section__buttons-list-item">
        <button
          type="button"
          class="js-open-modal contacts-section__button contacts-section__button--location-button btn btn-color btn-location"
          data-modal="modal-map"
        >
          Our Location
          <svg
            class="contacts-section__button-icon button-icon"
            width="12"
            height="12"
          >
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-section__buttons-list-item">
        <button
          type="button"
          class="js-open-modal contacts-section__button contacts-section__button--franchise-button btn btn-transp btn-location"
          data-modal="modal-franchise"
        >
          Franchise
          <svg
            class="contacts-section__button-icon button-icon"
            width="12"
            height="12"
          >
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
