<section class="contacts-section section">
    <div class="contacts-section__container container">
        <h2 class="contacts-section__title title hidden">Contacts</h2>
        <ul class="contacts-section__list list">
            <li class="contacts-section__item">
                <div class="contacts-section__branch-wrap">
                    <p class="contacts-section__branch-type">Cafe</p>
                </div>
                <p class="contacts-section__city">Chicago</p>
                <a class="contacts-section__address" href="">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                <ul class="contacts-section__schedule-list list">
                    <li class="contacts-section__schedule-item">
                        <p class="contacts-section__schedule-days">Monday - Friday</p>
                        <p class="contacts-section__schedule-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-section__schedule-item">
                        <p class="contacts-section__schedule-days">Saturday - Sunday</p>
                        <p class="contacts-section__schedule-hours">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <a class="contacts-section__phone" href="">+61(0) 383 766 284</a>
                <a class="contacts-section__email" href="">noreply@envato.com</a>
            </li>
            <li class="contacts-section__item">
                <div class="contacts-section__branch-wrap">
                    <p class="contacts-section__branch-type"></p>
                </div>
                <p class="contacts-section__city">Los Angeles</p>
                <a class="contacts-section__address" href="">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                <ul class="contacts-section__schedule-list list">
                    <li class="contacts-section__schedule-item">
                        <p class="contacts-section__schedule-days">Monday - Friday</p>
                        <p class="contacts-section__schedule-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-section__schedule-item">
                        <p class="contacts-section__schedule-days">Saturday - Sunday</p>
                        <p class="contacts-section__schedule-hours">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <a class="contacts-section__phone" href="">+61(0) 383 766 284</a>
                <a class="contacts-section__email" href="">noreply@envato.com</a>
            </li>
            <li class="contacts-section__item">
                <div class="contacts-section__branch-wrap">
                    <p class="contacts-section__branch-type"></p>
                </div>
                <p class="contacts-section__city">New York</p>
                <a class="contacts-section__address" href="">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                <ul class="contacts-section__schedule-list list">
                    <li class="contacts-section__schedule-item">
                        <p class="contacts-section__schedule-days">Monday - Friday</p>
                        <p class="contacts-section__schedule-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-section__schedule-item">
                        <p class="contacts-section__schedule-days">Saturday - Sunday</p>
                        <p class="contacts-section__schedule-hours">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <a class="contacts-section__phone" href="">+61(0) 383 766 284</a>
                <a class="contacts-section__email" href="">noreply@envato.com</a>
            </li>
        </ul>
        <button class="contacts-section__location-button">Our location ></button>
        <button class="contacts-section__franchise-button">Franchise ></button>
    </div>
</section>