<section lang="uk" class="reviews">
  <h2 class="reviews__title">Відгуки членів команди</h2>
  <div class="container">
    <div class="reviews__wrap autoplay-customers">
      <div class="reviews__card">
        <div class="reviews__img-thumb">
          <img
            loading="lazy"
            srcset="
              ./images/customer-sergey-1x-min.jpg 1x,
              ./images/customer-sergey-2x-min.jpg 2x
            "
            src="./images/customer-sergey-1x-min.jpg"
            alt="Хлопець в зимньому одязі і шапці, широко посміхається"
            height="84"
          />
        </div>
        <p class="reviews__text">
          Це був гарний досвід, усе круто, але я звільняюсь.
        </p>
        <p class="reviews__sub-text">Сергій Мішустін, тім-лід</p>
      </div>

      <div class="reviews__card">
        <div class="reviews__img-thumb">
          <img
            loading="lazy"
            srcset="
              ./images/customer-vasya-1x-min.jpg 1x,
              ./images/customer-vasya-2x-min.jpg 2x
            "
            src="./images/customer-vasya-1x-min.jpg"
            alt="Чоловік в сонячних окулярах, посміхається"
            height="84"
          />
        </div>
        <p class="reviews__text">
          Морозиво звичайно гарне але на дизайнері гріх економити.
        </p>
        <p class="reviews__sub-text reviews__sub-text--no-margin">
          Василь Миронюк, скрам майстер
        </p>
      </div>

      <div class="reviews__card">
        <div class="reviews__img-thumb">
          <img
            loading="lazy"
            srcset="
              ./images/customer-ivan-1x-min.jpg 1x,
              ./images/customer-ivan-2x-min.jpg 2x
            "
            src="./images/customer-ivan-1x-min.jpg"
            alt="Чоловік грається  з двума хлопчиками на природі, всі посміхаються"
            height="84"
          />
        </div>
        <p class="reviews__text">Морозиво - це найкращі спогади дитинства.</p>
        <p class="reviews__sub-text">Іван Корнієнко</p>
      </div>

      <div class="reviews__card">
        <div class="reviews__img-thumb">
          <img
            loading="lazy"
            srcset="
              ./images/customer-pavel-1x-min.jpg 1x,
              ./images/customer-pavel-2x-min.jpg 2x
            "
            src="./images/customer-pavel-1x-min.jpg"
            alt="
                  Чоловік їсть кавун"
            height="84"
          />
        </div>
        <p class="reviews__text">
          Морозиво смачне, але Херсонський кавун смачніший!
        </p>
        <p class="reviews__sub-text">Павло Пилипенко</p>
      </div>

      <div class="reviews__card">
        <div class="reviews__img-thumb">
          <img
            loading="lazy"
            srcset="
              ./images/customer-sashatsymbalyuk-1x-min.jpg 1x,
              ./images/customer-sashatsymbalyuk-2x-min.jpg 2x
            "
            src="./images/customer-sashatsymbalyuk-1x-min.jpg"
            alt="Хлопець в світлій куртці на фоні моря, посміхається"
            height="84"
          />
        </div>
        <p class="reviews__text">
          Люблю форми, інпути і особливо чекбокси. Ну і ваше морозиво теж
          непогане.
        </p>
        <p class="reviews__sub-text">Олександр Цимбалюк</p>
      </div>

      <div class="reviews__card">
        <div class="reviews__img-thumb">
          <img
            loading="lazy"
            srcset="
              ./images/customer-alexneveroff-1x-min.jpg 1x,
              ./images/customer-alexneveroff-2x-min.jpg 2x
            "
            src="./images/customer-alexneveroff-1x-min.jpg"
            alt="Чоловік у костюмі санта клауса, з білою бородою, посміхається"
            height="84"
          />
        </div>
        <p class="reviews__text">
          Люблю цю корову. Вона мені як Снігуронька. І вона дає людям морозиво.
        </p>
        <p class="reviews__sub-text">Олександр Неверов</p>
      </div>

      <div class="reviews__card">
        <div class="reviews__img-thumb">
          <img
            loading="lazy"
            srcset="
              ./images/customer-olehbelous-1x-min.jpg 1x,
              ./images/customer-olehbelous-2x-min.jpg 2x
            "
            src="./images/customer-olehbelous-1x-min.jpg"
            alt="Чоловік в темній куртці зі світлими очима"
            height="84"
          />
        </div>
        <p class="reviews__text">
          Найкраще морозиво, яке ми з сім‘єю куштували! Тепер ми - ваші постійні
          клієнти! Ви - дивовижні!
        </p>
        <p class="reviews__sub-text">Олег Білоус</p>
      </div>

      <div class="reviews__card">
        <div class="reviews__img-thumb">
          <img
            loading="lazy"
            srcset="
              ./images/customer-anna-1x-min.jpg 1x,
              ./images/customer-anna-2x-min.jpg 2x
            "
            src="./images/customer-anna-1x-min.jpg"
            alt="Дівчина з каштановим волоссям та карими очима, посміхається"
            height="84"
          />
        </div>
        <p class="reviews__text">
          Люблю дві речі: дивитися як синок смачно їсть ваше морозиво та
          фотографувати , а створювати галерею - повна "насолода"
        </p>
        <p class="reviews__sub-text">Анна Колодійчик</p>
      </div>

      <div class="reviews__card">
        <div class="reviews__img-thumb">
          <img
            loading="lazy"
            srcset="
              ./images/customer-liza-1x-min.jpg 1x,
              ./images/customer-liza-2x-min.jpg 2x
            "
            src="./images/customer-liza-1x-min.jpg"
            alt="Темноволоса дівчина з карими очима, посміхається"
            height="84"
          />
        </div>
        <p class="reviews__text">
          Найсмачніше морозиво і найкращий сайт, зроблений чудовою командою.
          Обожнюю слайдери і посилання на jqwery.
        </p>
        <p class="reviews__sub-text">Ліза Дьяченко</p>
      </div>

      <div class="reviews__card">
        <div class="reviews__img-thumb">
          <img
            loading="lazy"
            srcset="
              ./images/customer-yuriysoroka-1x-min.jpg 1x,
              ./images/customer-yuriysoroka-2x-min.jpg 2x
            "
            src="./images/customer-yuriysoroka-1x-min.jpg"
            alt="Чоловік в світлій сорочці з галстуком, має темне волосся та очі"
            height="84"
          />
        </div>
        <p class="reviews__text">
          Чудове морозиво. Хочу відвідати всі Ваші заклади.
        </p>
        <p class="reviews__sub-text">Юрій Сорока</p>
      </div>

      <div class="reviews__card">
        <div class="reviews__img-thumb">
          <img
            loading="lazy"
            srcset="
              ./images/customer-olehsivonenko-1x-min.jpg 1x,
              ./images/customer-olehsivonenko-2x-min.jpg 2x
            "
            src="./images/customer-olehsivonenko-1x-min.jpg"
            alt="Хлопець в блакитній сорочці демонструє знак Вікторія та широко посміхається"
            height="84"
          />
        </div>
        <p class="reviews__text">
          Блін, обожнюю морозиво з шоколодною стружкою, просто кайфую від нього.
          Шкода, що тут його немає(((
        </p>
        <p class="reviews__sub-text">Олег Сивоненко</p>
      </div>

      <div class="reviews__card">
        <div class="reviews__img-thumb">
          <img
            loading="lazy"
            srcset="
              ./images/customer-alina-1x-min.jpg 1x,
              ./images/customer-alina-2x-min.jpg 2x
            "
            src="./images/customer-alina-1x-min.jpg"
            alt="Чорнява дівчина з темними очима, в жовтому светрі, щироко посміхається"
            height="84"
          />
        </div>
        <p class="reviews__text">Ваше морозиво це те, що приносить радість.</p>
        <p class="reviews__sub-text">Аліна Свиридюк</p>
      </div>
    </div>
  </div>
</section>
