<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section class="reviews">
        <h2 class="reviews__title">Customer Reviews</h2>
        <div class="container">
          <div class="reviews__wrap autoplay-customers">
            <div class="reviews__card">
              <div class="reviews__img-thumb">
                <img
                  srcset="
                    ./images/customer-emily-desk-1x.png 1x,
                    ./images/customer-emily-desk-2x.png 2x
                  "
                  src="./images/customer-emily-desk-1x.png"
                  alt=""
                  height="84"
                />
              </div>
              <p class="reviews__text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
              <p class="reviews__sub-text">Emily, Los Angeles</p>
            </div>

            <div class="reviews__card">
              <div class="reviews__img-thumb">
                <img
                  srcset="
                    ./images/customer-bryan-desk-1x.png 1x,
                    ./images/customer-bryan-desk-2x.png 2x
                  "
                  src="./images/customer-bryan-desk-1x.png"
                  alt=""
                  height="84"
                />
              </div>
              <p class="reviews__text">
                Every day we come to you with friends after classes in college.
                We love your ice cream and casual atmosphere!
              </p>
              <p class="reviews__sub-text">Bryan, New-York</p>
            </div>

            <div class="reviews__card">
              <div class="reviews__img-thumb">
                <img
                  srcset="
                    ./images/customer-diana-desk-1x.png 1x,
                    ./images/customer-diana-desk-2x.png 2x
                  "
                  src="./images/customer-diana-desk-1x.png"
                  alt=""
                  height="84"
                />
              </div>
              <p class="reviews__text">
                Ice cream is my passion! I love your chocolate hazelnut ice
                cream! And I really like the excellent service - always served
                politely and quickly!
              </p>
              <p class="reviews__sub-text reviews__sub-text--no-margin">
                Diana, Chicago
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
