<section class="gallery">
  <div class="container gallery__container">
    <h2 class="hidden">Gallery</h2>
    <div class="slider-gallery autoplay-gallery">
      <div class="slider-gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-brooke-desk-1x.jpg 1x,
              ./images/gallery-brooke-desk-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery-brooke-tab-1x.jpg 1x,
              ./images/gallery-brooke-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery-brooke-mob-1x.jpg 1x,
              ./images/gallery-brooke-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="slider-gallery__img lazyload"
            src="./images/gallery-brooke-desk-2x.jpg"
            alt="nine ice cream"
            loading="lazy"
            width="1013"
          />
        </picture>
      </div>
      <div class="slider-gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-cone-desk-1x.jpg 1x,
              ./images/gallery-cone-desk-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery-cone-tab-1x.jpg 1x,
              ./images/gallery-cone-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery-cone-mob-1x.jpg 1x,
              ./images/gallery-cone-mob-2x.jpg 2x
            "
          />
          <img
            class="slider-gallery__img lazyload"
            src="./images/gallery-cone-desk-2x.jpg"
            alt="five ice cream"
            loading="lazy"
            width="1013"
          />
        </picture>
      </div>
      <div class="slider-gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-popsicle-desk-1x.jpg 1x,
              ./images/gallery-popsicle-desk-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery-popsicle-tab-1x.jpg 1x,
              ./images/gallery-popsicle-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery-popsicle-mob-1x.jpg 1x,
              ./images/gallery-popsicle-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="slider-gallery__img lazyload"
            src="./images/gallery-popsicle-desk-2x.jpg"
            alt="five ice cream with cherry"
            loading="lazy"
            width="1013"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
