<section class="gallery">
  <div class="container gallery__container">
    <h2 class="hidden">Gallery</h2>
    <div class="slider-gallery autoplay-gallery">
      <div class="slider-gallery__item">
        <picture>
          <source
            srcset="
              ./images/galery-brooke-desk-1x.jpg 1x,
              ./images/galery-brooke-desk-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1013"
            height="422"
          />
          <source
            srcset="
              ./images/galery-brooke-tab-1x.jpg 1x,
              ./images/galery-brooke-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="710"
            height="327"
          />
          <source
            srcset="
              ./images/galery-brooke-mob-1x.jpg 1x,
              ./images/galery-brooke-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="slider-gallery__img"
            src="./images/galery-brooke-desk-2x.jpg"
            alt="nine ice cream"
          />
        </picture>
      </div>
      <div class="slider-gallery__item">
        <picture>
          <source
            srcset="
              ./images/galery-cone-desk-1x.jpg 1x,
              ./images/galery-cone-desk-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1013"
            height="422"
          />
          <source
            srcset="
              ./images/galery-cone-tab-1x.jpg 1x,
              ./images/galery-cone-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="710"
            height="327"
          />
          <source
            srcset="
              ./images/galery-cone-mob-1x.jpg 1x,
              ./images/galery-cone-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="slider-gallery__img"
            src="./images/galery-cone-desk-2x.jpg"
            alt="five ice cream"
          />
        </picture>
      </div>
      <div class="slider-gallery__item">
        <picture>
          <source
            srcset="
              ./images/galery-popsicle-desk-1x.jpg 1x,
              ./images/galery-popsicle-desk-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1013"
            height="422"
          />
          <source
            srcset="
              ./images/galery-popsicle-tab-1x.jpg 1x,
              ./images/galery-popsicle-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="710"
            height="327"
          />
          <source
            srcset="
              ./images/galery-popsicle-mob-1x.jpg 1x,
              ./images/galery-popsicle-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="slider-gallery__img"
            src="./images/galery-popsicle-desk-2x.jpg"
            alt="five ice cream with cherry"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
