<header class="header header-js">
  <div class="container header__top">
    <a href="#" class="header__logo">
      <picture>
        <source
          srcset="
            ./images/header-logo-desk-1x.png 1x,
            ./images/header-logo-desk-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/header-logo-tab-1x.png 1x,
            ./images/header-logo-tab-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/header-logo-mob-1x.png 1x,
            ./images/header-logo-mob-2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/header-logo-desk-1x.png" alt="logo" width="60" />
      </picture>
    </a>

    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__link">Home</a>
        </li>
        <li class="header__item">
          <a href="#howitsmade" class="header__link how-made-link"
            >How it’s made?</a
          >
        </li>
        <li class="header__item">
          <a href="#products" class="header__link how-made-link"
            >Our products</a
          >
        </li>
        <li class="header__item">
          <a href="#contact" class="header__link how-made-link">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="header__menu-button js-open-menu js-menu-button">
      <svg width="32" height="32" class="header__menu-open">
        <use href="./images/icons.svg#icon-mob-menu"></use>
      </svg>
    </button>

    <button
      type="button"
      class="js-open-modal header__button-buy btn btn-color btn-buy-now"
      data-modal="header-modal"
    >
      Buy now
      <svg class="button-icon" width="12" height="12">
        <use href="/src/images/icons.svg#icon-arrow-right "></use>
      </svg>
    </button>
  </div>

  <div class="header__mob-menu js-menu-container">
    <button class="mob-close js-close-menu">
      <svg width="32" height="32">
        <use href="./images/icons.svg#icon-menu-close"></use>
      </svg>
    </button>

    <ul class="mob__list">
      <li class="mob__item">
        <a href="#" class="mob__link">Home</a>
      </li>
      <li class="mob__item">
        <a href="#howitsmade" class="mob__link">How it’s made?</a>
      </li>
      <li class="mob__item">
        <a href="#products" class="mob__link">Our products</a>
      </li>
      <li class="mob__item">
        <a href="#contact" class="mob__link">Contact</a>
      </li>
    </ul>

    <button
      type="button"
      class="mob__button-buy btn btn-color btn-buy-now js-open-modal"
      data-modal="header-modal"
    >
      Buy now
      <svg class="button-icon" width="12" height="12">
        <use href="/src/images/icons.svg#icon-arrow-right "></use>
      </svg>
    </button>
  </div>
</header>
