<header class="header">
  <a href="#" class="header__logo">
    <svg class="header__icon">
      <use href="./images/лого.svg"></use>
    </svg>
  </a>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item"><a href="#" class="header__link">Home</a></li>
      <li class="header__item">
        <a href="#How it’s made?" class="header__link">How it’s made?</a>
      </li>
      <li class="header__item">
        <a href="#Our products" class="header__link">Our products</a>
      </li>
      <li class="header__item">
        <a href="#Contact" class="header__link">Contact</a>
      </li>
    </ul>
  </nav>
  <button type="button" class="header__menu">
    <svg class="header_menu-icon">
      <use href="./images/eva_menu-fill.svg"></use>
    </svg>
  </button>
  <button class="header__button-buy">Buy now ></button>
</header>
