<section class="hero">
  <div class="container hero__container">
    <div class="hero__dots"></div>
    <h1 class="hero__title">ice cream made with passion</h1>
    <div class="hero__buttons">
      <a href="#products" class="btn btn-products btn-transp hero__button">
        Products
      </a>
      <a href="#howitsmade" class="hero__link how-made-link">How it’s made?</a>
    </div>
    <picture class="hero__icecream">
      <source
        srcset="
          ./images/hero-icecream-desk-1x.png 1x,
          ./images/hero-icecream-desk-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero-icecream-tab-1x.png 1x,
          ./images/hero-icecream-tab-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero-icecream-mob-1x.png 1x,
          ./images/hero-icecream-mob-2x.png 2x
        "
        media="(min-width: 320px)"
      />

      <img src="./images/hero-icecream-desk-1x.png" alt="icecream" />
    </picture>

    <picture class="hero__dish">
      <source
        srcset="
          ./images/hero-dish-desk-1x.png 1x,
          ./images/hero-dish-desk-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero-dish-tab-1x.png 1x,
          ./images/hero-dish-tab-2x.png 2x
        "
        media="(min-width: 768px)"
      />

      <img src="./images/hero-dish-desk-1x.png" alt="dish" loading="lazy" />
    </picture>
    <div class="hero__block">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a href="#" class="hero__arrow">
        <svg width="40" height="16">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <ul class="hero__list">
      <li class="hero_item">
        <p class="hero__figure">16</p>
        <p class="hero__figureText">cafes</p>
      </li>
      <li>
        <p class="hero__figure">23</p>
        <p class="hero__figureText">food trucks</p>
      </li>
    </ul>
  </div>
</section>
