<section class="products" id="products">
  <div class="container">
    <p class="natural-subtitle">100% natural</p>
    <h2 class="natural-title">products</h2>
    <ul class="products-list">
      <li class="products-item ice-cream-item">
        <h3 class="products-title">ice cream</h3>
        <p class="products-text icecream-text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          type="submit"
          class="products-button js-open-modal"
          data-modal="products-modal"
        >
          <svg class="products-icon" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-item ice-coffee-item">
        <h3 class="products-title">ice coffee</h3>
        <p class="products-text coffee-text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          type="submit"
          class="products-button js-open-modal"
          data-modal="products-modal"
        >
          <svg class="products-icon" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-item milkshakes-item">
        <h3 class="products-title">milkshakes</h3>
        <p class="products-text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          type="submit"
          class="products-button js-open-modal"
          data-modal="products-modal"
        >
          <svg class="products-icon" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
