.advantages {
  width: 100%;
  background: $prime-bg-color;
}
.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include tablet {
    flex-direction: row;
  }
}

.advantages-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 28px;
  padding-bottom: 32px;

  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 80px;
    max-width: 616px;
    padding-bottom: 60px;
  }

  @include desktop {
    gap: 32px;
    max-width: 1168px;
    padding-bottom: 80px;
  }
}
.advantages-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include tablet {
    width: calc((100% - 160px) / 3);
    gap: 0;
  }
  @include desktop {
    width: calc((100% - 64px) / 3);
  }
}

.advantages-list__item::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $yellow;
  background-size: auto;
  @include tablet {
    margin-bottom: 32px;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}

.advantages-list__item:nth-child(1)::before {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/advantages-cow-1x-min.png);
  @include retina {
    background-size: 36px;
    background-image: url(../images/advantages-cow-2x-min.png);
  }
}
.advantages-list__item:nth-child(2)::before {
  background-repeat: no-repeat;
  background-position: center;

  background-image: url(../images/advantages-weight-1x-min.png);

  @include retina {
    background-size: 36px;
    background-image: url(../images/advantages-weight-2x-min.png);
  }
}
.advantages-list__item:nth-child(3)::before {
  background-repeat: no-repeat;
  background-position: center;

  background-image: url(../images/advantages-icecream-1x-min.png);

  @include retina {
    background-size: 36px;
    background-image: url(../images/advantages-icecream-2x-min.png);
  }
}

.advantages-list__uptitle {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(44 / 36);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;

  @include tablet {
    font-size: 48px;
    line-height: calc(59 / 48);
    margin-bottom: 12px;
  }
  @include desktop {
    font-weight: 700;
    font-size: 58px;
    line-height: calc(71 / 58);
  }
}
.advantages-list__text {
  font-weight: 700;
  font-size: 10px;
  line-height: calc(20 / 10);
  text-align: center;
  letter-spacing: 0.02em;

  color: #fcfcfc;
  max-width: 230px;
  @include tablet {
    max-width: 152px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(24 / 12);
  }
  @include desktop {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(28 / 16);
    max-width: 368px;
  }
}
