.contacts-section {}

.section {}

.contacts-section__container {}

.container {}

.contacts-section__title {}

.title {}

.hidden {}

.contacts-section__list {
    list-style: none;
}

.contacts-section__item {
    max-width: 280px;
    width: 100%;
    padding-left: 32px;
    padding-top: 40px;
    padding-bottom: 24px;
}

.contacts-section__branch-wrap {}

.contacts-section__branch-type {}

.contacts-section__city {}

.contacts-section__address {}

.contacts-section__schedule-list {}

.contacts-section__schedule-item {}

.contacts-section__schedule-days {}

.contacts-section__schedule-hours {}

.contacts-section__phone {}

.contacts-section__email {}

.contacts-section__location-button {}

.contacts-section__franchise-button {}