.modal-contactts__btn {
  min-width: 134px;

  @include tablet {
    min-width: 145px;
  }
}

.modal-mapa-title {
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 32px;
  }
}
.modal-map__map {
  width: 100%;
  height: 199px;
  margin-bottom: 24px;
  border-radius: 10px;
  @include tablet {
    width: 448px;
    height: 260px;
    margin-bottom: 32px;
  }
}
