.gallery {
  width: 100%;

  & {
    background-image: linear-gradient(
      to top,
      transparent 60%,
      $prime-bg-color 60%
    );

    @include tablet {
      padding-top: 60px;
      background-image: linear-gradient(
        to top,
        transparent 45%,
        $prime-bg-color 45%
      );
    }

    @include desktop {
      padding-top: 80px;
      background-image: linear-gradient(
        to top,
        transparent 65%,
        $prime-bg-color 65%
      );
    }
  }
}

.slider-gallery__img {
  margin: 0 auto;
  border-radius: 8px;

  @include tablet {
    border-radius: 18px;
  }

  @include desktop {
    border-radius: 24px;
  }
}

// анімація

// Обнулення стрілок для переключення в css
