// ------------mob------------ //
.hide {
  display: none;
}
.header__nav.hide {
  display: none;
}
.header {
  width: auto;
  height: calc(12 + 37 + 12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #84a178;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    height: calc(20 + 44 + 20);
  }
  @media screen and (min-width: 1200px) {
    height: calc(8 + 65 + 8);
  }
}
.header__logo {
  width: 40px;
  height: 37px;
  z-index: 3;
  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }
  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}
.header__icon {
}

.header__nav {
  display: none;
  align-items: center;
}

.mob {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: #84a178;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  z-index: 2;
  @media screen and (min-width: 768px) {
    padding-top: 140px;
  }
  //   @media screen and (min-width: 1200px) {
  //     position: unset;
  //     padding-top: unset;
  //     height: unset;
  //     width: unset;
  //     align-items: center;
  //   }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header__list,
.mob__list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  @media screen and (min-width: 1200px) {
    flex-direction: unset;
    gap: 28px;
  }
}

.header__item {
}

.header__link,
.mob__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);
  color: #fcfcfc;
  &:hover,
  &:focus {
    color: black;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(20 / 16);
    &:hover,
    &:focus {
      color: #f8d24e;
    }
  }
}
.header__menu-button,
.mob-close {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  fill: white;
  z-index: 2;
  @media screen and (min-width: 768px) {
    right: 216px;
    top: 29px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mob-close {
}

.header__menu-close {
}
.header_menu-icon {
}

.header__button-buy,
.mob__button-buy {
  position: absolute;
  bottom: 64px;
  width: 152px;
  height: 42px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  z-index: 3;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
}

.header__button-buy {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    left: unset;
    transform: unset;
    top: 24px;
    right: 32px;
    z-index: 3;
  }
  @media screen and (min-width: 1200px) {
    position: unset;
  }
}

// ------------tab------------ //

// ------------desk------------ //
