.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  //   opacity: 1;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.header-modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 28px;

  min-width: 280px;
  min-height: 991;
  background-color: #fcfcfc;

  //   min-width: 568px;
  //   min-height: 644px;
  //   padding: 32px 54px;

  @include mobile {
    width: 280px;
  }
}

.modal-button {
}
.modal-button--close {
  position: absolute;
  top: 12px;
  right: 12px;

  background-color: transparent;
  border: none;
}
.modal-title {
  font-family: Seymour One;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);

  //   font-size: 20px;
  //   line-height: calc(28 / 20);
}
.modal-list {
  display: flex;
  flex-direction: column;
  gap: 82px;
  margin-top: 83px;
}

// .check-input {
//   position: absolute;
//   appearance: none;
// }

.list-item {
  position: relative;

  &.list-item:nth-child(1) .square {
    border: 2px solid #96af8c;
  }

  &.list-item:nth-child(1) .round {
    background-color: rgba(156, 190, 143, 0.7);
    box-shadow: 0px 5.26px 19.73px 0px #0a881740;

    &::after {
      content: '';
      display: block;
      width: 132px;
      height: 132px;
      position: absolute;

      top: -7px;

      background-image: url(../images/products-icecream-modal-1x.png);
      background-size: contain;
    }

    // &::marker {
    //   display: none;
    // }
  }

  &.list-item:nth-child(2) .square {
    // background-color: #efd478;
    border: 2px solid #efd478;
  }

  &.list-item:nth-child(2) .round {
    background-color: rgba(248, 210, 78, 0.7);
    box-shadow: 0px 5.26px 19.73px 0px #99721740;

    &::after {
      content: '';
      display: block;
      width: 132px;
      height: 132px;
      position: absolute;

      top: -7px;

      background-image: url(../images/products-icecoffee-modal-1x.png);
      background-size: contain;
    }
  }

  &.list-item:nth-child(3) .square {
    border: 2px solid #d6936d;
  }

  &.list-item:nth-child(3) .round {
    background-color: rgba(213, 117, 63, 0.7);
    box-shadow: 0px 5.26px 19.73px 0px #00000040;

    &::after {
      content: '';
      display: block;
      width: 132px;
      height: 132px;
      position: absolute;

      top: -7px;

      background-image: url(../images/products-milkshake-modal-1x.png);
      background-size: contain;
    }
  }
}

.list-item__box {
}

.square {
  width: 132px;
  height: 136px;
  background-color: transparent;
  border-radius: 15px;
}

.round {
  position: absolute;
  top: -50%;

  width: 132px;
  height: 132px;
  border-radius: 50%;
}

.list-item__title {
  padding-top: 96px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(20 / 16);
  letter-spacing: 0.04em;
  text-align: center;

  text-transform: uppercase;
}

// .list-item__bg {
//   background-image: url(../images/products-icecream-modal-1x.png);
// }
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  margin-bottom: 26px;

  width: 100%;

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(16.8 / 12);

  // margin-top: 31px;
}
.modal-form__label {
}
.modal-form__input {
  padding: 8px 12px;
  height: 32px;
  width: 100%;

  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  // &::placeholder {
  //   color: #131313;
  // }

  // & {
  //   transition: border-color 250ms $transit;
  //   outline: none;
  // }

  // &:focus {
  //   border-color: $accent;
  // }
}
.modal-form__taxtarea {
  // padding-top: 8px;
  // padding-left: 12px;
  padding: 8px 12px;
  width: 100%;
  height: 65px;

  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  resize: none;
}
.modal-button--submit {
  padding: 12px 34px;

  height: 42px;
  max-width: 114px;

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: calc(15 / 12);

  color: #131313;
  background-color: #f8d24e;

  border: transparent;
  border-radius: 10px;
}
