.header {
  background-color: rgb(132, 161, 120);
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 3;

  display: flex;
  align-items: center;

  &__container {
    overflow: hidden;
  }
}

.header-bg {
  background: linear-gradient(0deg, rgba(12, 42, 1, 0.5), rgba(12, 42, 1, 0.5));
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  @include mobile {
  }
  @include tablet {
    height: 80px;
    padding-right: 16px;
    padding-top: 9px;
  }
  @include desktop {
    padding-top: 0;
    padding-right: 16px;

    height: 100px;
  }
}

.header__logo {
  width: 40px;
  height: 37px;
  z-index: 31;
  @include mobile {
  }
  @include tablet {
    width: 48px;
    height: 44px;
  }
  @include desktop {
    width: 60px;
    height: 65px;
  }
}

.header__nav {
  display: none;
  align-items: center;
  @include desktop {
    display: flex;
  }
}

.header__mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: #84a178;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  z-index: 3;
  min-height: 500px;
  overflow: auto;

  transition: transform 300ms linear, visibility 300ms linear;
  transform: translateX(50%);
  visibility: hidden;
  left: 50%;

  &.is-open {
    transform: translateX(-50%);
    visibility: visible;
    left: 50%;
  }

  @include mobile {
    // width: 480px;
  }
  @include tablet {
    // width: 768px;
    padding-top: 140px;
  }
  @include desktop {
    display: none;
  }
}

.header__list,
.mob__list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  @include desktop {
    flex-direction: unset;
    gap: 28px;
  }
}

.header__link,
.mob__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);
  color: #fcfcfc;
  padding-top: 20px;
  padding-bottom: 20px;
  &:hover,
  &:focus {
    color: black;
  }
  @include desktop {
    font-size: 16px;
    line-height: calc(20 / 16);
    &:hover,
    &:focus {
      color: #f8d24e;
    }
  }
}

.header__logo-mob {
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 1;
  @include desktop {
    display: none;
  }
}

.header__menu-button,
.mob-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  fill: white;
  padding: 0;
  @include tablet {
    margin-left: auto;
    margin-right: 32px;
  }
  @include desktop {
    display: none;
  }
  &:hover,
  &:focus {
    fill: $yellow;
  }
}

.header__menu-button {
  width: 32px;
  height: 32px;
  @include tablet {
    right: 216px;
    top: 29px;
  }
}

// .header__menu-open {
//   width: 100%;
// }

.mob-close {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    right: 0;
  }
}

.header__button-buy {
  display: none;
  @include tablet {
    margin-right: 0;
    display: flex;
  }
}

.mob__button-buy {
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translate(-50%, -50%);
  @include tablet {
    display: none;
  }
}
