.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 31px;
  width: 100%;

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(16.8 / 12);
}

.modal-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 82px 20px;
  width: 100%;

  padding-top: 83px;

  @include tablet {
    flex-direction: row;
    padding-top: 103px;
  }
}

.list-item {
  position: relative;

  &:nth-child(1) .check-item {
    border: 2px solid rgba(156, 190, 143, 0.7);
  }

  &:nth-child(1) .check-item::before {
    background-color: rgba(156, 190, 143, 0.7);
    box-shadow: 0px 5.26px 19.73px 0px #0a881740;
  }

  &:nth-child(2) .check-item {
    border: 2px solid #efd478;
  }
  &:nth-child(2) .check-item::before {
    background-color: rgba(248, 210, 78, 0.7);
    box-shadow: 0px 5.26px 19.73px 0px #99721740;
  }

  &:nth-child(3) .check-item {
    border: 2px solid #d6936d;
  }
  &:nth-child(3) .check-item::before {
    background-color: rgba(213, 117, 63, 0.7);
    box-shadow: 0px 5.26px 19.73px 0px #00000040;
  }

  &:nth-child(1) .check-item::after {
    background-image: url(../images/products-icecream-modal-1x.jpg);
  }

  &:nth-child(2) .check-item::after {
    background-image: url(../images/products-icecoffee-modal-1x.jpg);
  }

  &:nth-child(3) .check-item::after {
    background-image: url(../images/products-milkshake-modal-1x.jpg);
  }

  & .check-input {
    appearance: none;
    position: absolute;
  }
}

.check-input:checked + .check-item--first {
  background-color: rgba(156, 190, 143, 0.7);
}

.check-input:checked + .check-item--second {
  background-color: rgba(248, 210, 78, 0.7);
}

.check-input:checked + .check-item--third {
  background-color: rgba(213, 117, 63, 0.7);
}

.check-item {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(20 / 16);
  letter-spacing: 0.04em;

  text-transform: uppercase;

  display: block;
  width: 132px;
  height: 136px;

  border-radius: 15px;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 60;

    width: 132px;
    height: 132px;

    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 66;
    border-radius: 50%;

    width: 132px;
    height: 132px;
    background-size: contain;
  }
}

.check-item__text {
  display: block;
  padding-top: 96px;
}
