.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 35;
  transition: opacity $transit, visibility $transit;
}

.modal {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 30;
  transition: opacity $transit, visibility $transit;
  text-align: center;
  max-width: 440px;
  width: 100%;
  top: 50px;
  left: 50%;
  padding: 26px;
  transform: translate(-50%);
  letter-spacing: normal;
  background: $prime-text-color;
  border: 2px solid $yellow;
  border-radius: 10px;
  @include tablet {
    max-width: 568px;
    padding: 32px 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    font-family: 'Seymour One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24px / 16px);
    display: block;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      font-size: 20px;
      line-height: calc(28px / 20px);
      max-width: 322px;
    }
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
  overflow-x: hidden;
}

.overlay.active::-webkit-scrollbar {
  opacity: 0;
}

// Хрестик для модалок

.modal-btn-cross {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  width: 20px;
  height: 20px;
  &__icon {
    fill: $second-text-color;
    width: 20px;
    height: 20px;
    @include tablet {
      width: 24px;
      height: 24px;
    }
    &:hover,
    &:focus {
      fill: $green;
    }
  }
  @include tablet {
    width: 24px;
    height: 24px;
  }
}

//  Forma
// Фудор основа
.form {
  font-weight: 400;
  color: $second-text-color;
  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      gap: 16px;
      margin-bottom: 32px;
      align-items: center;
    }
  }
  &__field {
    max-width: 368px;
    width: 100%;
  }
  &__input {
    width: 100%;
    max-width: 368px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid $prime-bg-color;
    border-radius: 10px;
    padding-right: 12px;
    padding-left: 12px;

    // cursor: pointer;

    @include tablet {
      height: 42px;
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  &__input--lg {
    resize: none;

    @include tablet {
      height: 84px;
      padding-top: 11px;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 12px 34px;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15px / 12px);

    @include tablet {
      font-size: 14px;
      line-height: calc(17px / 14px);
    }
  }
}

// Форма основні змінні

.form-main {
  width: 100%;
  font-size: 12px;
  line-height: calc(17px / 12px);

  @include tablet {
    font-size: 14px;
    line-height: calc(20px / 14px);
  }
  &__group {
    @media screen and (max-width: 767px) {
      gap: 12px;
    }
  }

  &__input {
    outline: none;
    @media screen and (max-width: 767px) {
      height: 32px;
    }
  }

  &__input--lg {
    @media screen and (max-width: 767px) {
      height: 64px;
    }
  }
}
.form-position-main {
  @media screen and (max-width: 767px) {
    margin-bottom: 26px;
  }
}

// .form-main__input:not(:focus):not(:placeholder-shown):invalid {
//   border-color: red;
// }
.form-main__input:not(:placeholder-shown):invalid {
  border-color: red;
}

.form-ingredients__input {
  outline: none;
  &:not(:placeholder-shown):invalid {
    border-color: red;
  }
}

// Форма змінні для ingredients

.form-ingredients {
  font-size: 14px;
  line-height: calc(20px / 14px);

  @include tablet {
    font-size: 14px;
    line-height: calc(20px / 14px);
  }
  &__group {
    @media screen and (max-width: 767px) {
      gap: 16px;
    }
  }

  &__input {
    @media screen and (max-width: 767px) {
      height: 42px;
    }
  }

  &__input--lg {
    @media screen and (max-width: 767px) {
      height: 84px;
    }
  }
}
.form-position-ingredients {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
}

label {
  cursor: url(../images/cursor.png), auto;
}
